*{
    margin: 0;
    padding: 0%;
    font-family: poppins, sans-serif;
    box-sizing: border-box;
 
}
.water{
    width: 100%;
    height: 600px;
    position: relative;
    display: flex;
  
    justify-content: center;
    align-items: center;
    background-color: #041b2e;
}
.water h1{
    position: absolute;
    font-size: 10rem;

}
.water h1:nth-child(1)
{
    color: #fff;
    text-shadow: -2px 2px 0px #183954,
    -4px 4px 0px #183954,
    -6px 6px 0px #183954,
    -8px 8px 0px #183954,
-18px 18px 20px rgba(0,0,0,0.5),
-18px 18px 50px rgba(0,0,0,0.5);
}
.water h1:nth-child(2){
    color: #2196f3;
opacity: 0.5;
    animation: animate 3s ease-in-out infinite;

}
.water h1:nth-child(3){
    color: #2196f3;
    opacity: 0.5;
    animation: animate 6s ease-in-out infinite;

}
.water h1:nth-child(4){
    color: #2196f3;
    animation: animate 4s ease-in-out infinite;

}
@keyframes animate{
    0%, 100%{
        clip-path: polygon(0 70%, 27% 56%, 52% 65%, 81% 37%, 100% 33%, 99% 100%, 2% 100%);
    }
    50%{
        clip-path: polygon(0 33%, 18% 33%, 41% 53%, 72% 37%, 100% 56%, 99% 100%, 2% 100%);
    }
}